<html lang="en">
<head>
    {{>header}}
<style>
    .vh-250
    {
        height: 150vh;
        padding-top: 100px;
        {{!-- position: absolute; --}}
        
    }
</style>
    <title>Register</title>
    <script src="https://kit.fontawesome.com/74832aaa17.js" crossorigin="anonymous"></script>
   
</head>
<body>
     {{>navbar}}
     {{>registrationpage}}

</body>
</html>