
 
 
 <div class="success_container">
     <div class="ic_schauhan">
        <i class="fa fa-check" aria-hidden="true"></i>
     </div>
     <p>REGISTRATION SUCCESSFUL</p>
     <div class="line"></div>
   </div>